.btn {
  width: 100%;
  color: $white;
  padding: 0.6rem;
  background: $darkblue;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn:hover {
  background-color: $white;
  color: $darkblue;
  font-weight: 400;
  border: 0.1rem solid $backgraoundBlue;
}
