.section {
  &-chatbot {
    @include position(absolute, 0, 0, 0, null);
    height: 100vh;
    @include flex(flex, column, center, center);
    border: 2px solid red;
    background-color: #3333332d;
    z-index: 40;
    display: none;
  }
  &-contentContainer {
    @include flex(flex, column, null);
    @include width_height(null, 74%);
    border-radius: 16px;
    background-color: $white;
  }
  &-actionContainer {
    @include flex(flex, row, flex-end, center, 1rem);
    padding: 1rem 1rem 0 1rem;
    span {
      @include flex(flex, column, center, center);
      background-color: #eef3fd58;
      padding: 0.2rem;
      border-radius: 50%;

      .minimize {
        width: 1.4rem;
        height: 1.4rem;
        // border: 2px solid green;
      }
      .close {
        width: 1rem;
        height: 1rem;
        // border: 2px solid green;
      }
    }
    .closeSpan {
      padding: 0.4rem;
    }
  }

  &-chatcontent {
    @include flex(flex, column, null, flex-start);
    @include width_height(null, 100%);
    padding: 1rem;

    ul {
      list-style: none;
      @include width_height(null, 100%);
      @include flex(flex, row, null, center, 1rem, wrap);
      padding-top: 0.4rem;

      li {
        @include flex(flex, row, space-between, center);
        padding: 1rem;
        background-color: $white;
        border-radius: 10px;
        border: 0.02rem solid #7169ff37;
        min-width: 400px;
        flex-grow: 0;
        flex-shrink: 0;

        p {
          @include font_size_color(0.6rem, 600, $Textblack, "Inter");
        }
      }
    }

    svg {
      height: 1.2rem;
      width: 1.2rem;
    }
  }
  &-questioncontent {
    @include flex(flex, column, null, flex-start);
    @include width_height(null, 100%);
    padding: 1rem;

    h2 {
      @include font_size_color(1rem, bold, $Textblack, "Inter");
    }
    div {
      @include width_height(null, 96%);
      border: 1px solid #d3e1fc;
      background-color: #d3e1fc55;
      border-radius: 2rem;

      input {
        width: 100%;
        padding: 1rem;
        border: none;
        outline: none;
        background-color: transparent;
      }
      input::placeholder {
        @include font_size_color(null, $input-placeholder-gray);
      }
    }
  }
  &-chatspace {
    @include flex(flex, column, center, center);
    max-height: 400px;
    overflow-y: auto;
    padding-top: 1rem;
    .chatspace {
      max-height: 40vh;
      width: 96%;
      overflow-y: auto;
      padding: 0.4rem;
      @include flex(flex, column, space-between, null);
      background-color: #f0f1f43e;
    }
    .left {
      align-self: flex-start;
      padding: 10px;
      border: 2px solid red;
    }
    .right {
      align-self: flex-end;
      padding: 10px;
      border: 2px solid green;
    }
  }
}
