.Header {
  &-Container {
    padding-top: 1rem;
    background-color: $white;
    @include grid(grid, null, 2fr 0.6fr);
    border-bottom: 0.1px solid #bfbfbfb6;
  }
  &-SubContainer {
    position: relative;
    width: 100%;
    @include flex(flex, row, space-between, center);
  }

  &-Filters {
    @include width_height(null, 60%);
    @include flex(flex, row, space-between, center);
    background-color: rgb(232, 238, 251, 44%);
    border: 0.8px solid #e1eaff;
    border-radius: 2rem;
    padding: 0.2rem;
  }
  &-logoContainer {
    // @include width_height(null, 8%);
    @include flex(flex, column, center, center);
    @include font_size_color(0.48rem, 600, $Textblack, "Inter");
  }
  &-logo {
    @include width_height(null, 48%);
  }
  &-dropdownContainer {
    border: 1px solid #e1eaff;
    padding: 0.6rem;
    border-radius: 2rem;
    @include width_height(5vh, 16.8%);
    @include flex(flex, row, space-between, center);

    p {
      @include font_size_color(0.88rem, 400, $Textblack, "Inter");
    }
  }
  &-FilterButton {
    padding: 8px;
    border-radius: 50%;
    background-color: $backgraoundBlue;
    border: none;
    outline: none;
    cursor: pointer;
    @include flex(flex, row, space-between, center);
  }
  &-keywords {
    @include font_size_color(1rem, null, null, "Inter");
    @include width_height(5vh, 88%);
    background-color: transparent;
    padding: 0rem 0.8rem;
    margin-bottom: 2.8px;
    border: none;
    outline: none;
    border-radius: 1.6rem 0 0 1.6rem;
  }
  &-keywords::placeholder {
    @include font_size_color(0.88rem, 400, rgb(51, 51, 51, 60%), "Inter");
  }

  &-Profile {
    @include width_height(null, 40%);
    border-radius: 50%;
  }
}
.ChatbotIcon {
  @include width_height(2rem, 1.4rem);
}
.Icon {
  @include width_height(1rem, 1rem);
  transform: rotate(0turn);
  transition: transform 0.6s ease;
}
.IconStyles {
  transform: rotate(0.5turn);
  transition: transform 0.6s ease;
}

.dropdownVisible {
  @include width_height(34vh, 16%);
  @include position(absolute, null, 32%, 90%, null);
  border-radius: 0.6rem;
  box-shadow: 0 2px 4px 0px rgb(0, 0, 0, 0.3);
  background-color: $white;
  z-index: 10;
  max-height: 34vh;
  overflow-y: auto;
}
.dropdown-list li,
.Locationlist li {
  line-height: 2;
  padding: 0.4rem 0 0 1rem;
  @include font_size_color(0.8rem, null, null, "Inter");
}

.Locationdropdown input {
  @include width_height(4vh, 100%);
}

.dropdown-list li:hover,
.Locationlist li:hover {
  background-color: #f6f9ff;
  color: #0052f1;
}

.Chatbot {
  @include position(fixed, null, 2%, 90.8%, 2%);
  @include width_height(null, 4%);
  @include flex(flex, row, center, center);
  border-radius: 50%;
  padding: 0.4rem;
  background-color: $darkblue;
  z-index: 10;
}
.ProfileContainer {
  @include position(relative);
}

.ProfileContainer .LogoutBtn {
  @include position(absolute, -6%, null, null, -80%);
  @include font_size_color(0.8rem, 480, $Textblack, "Inter");
  padding: 0.4rem;
  background-color: $white;
  border-radius: 0.2rem;
  box-shadow: 0 2px 4px 0px #bfbfbf;
  border: none;
  outline: none;
  visibility: hidden;
  transition: visibility 0.6s;
}
.ProfileContainer:hover .LogoutBtn {
  visibility: visible;
}

.SearchItems {
  justify-self: center;
  @include flex(flex, row, flex-start, baseline, 0.4rem);
  @include width_height(null, 60%);
  border-radius: 1rem;
  margin-top: 0.2rem;
  margin-left: 4rem;
}
.ClearFunction {
  cursor: pointer;
}
.SearchItemsList {
  border-radius: 0.8rem;
  @include flex(flex, row, flex-start, center, 0.2rem);
  @include width_height(null, 90%);
  overflow-x: auto;
}
.SearchItemsList li {
  text-align: center;
  background-color: $backgraoundBlue;
  border-radius: 0.8rem;
  padding: 0.4rem;
  @include font_size_color(0.68rem, 480, $white, "Inter");
  @include flex(flex, row, space-between, center);
  white-space: nowrap;
}

.SuggestionContainer {
  @include position(absolute, 22.8%, null, 16%);
  @include width_height(null, 20%);
  border-radius: 1rem;
  // @include flex(flex, row, space-around, center, 1rem);
  background-color: $white;
  box-shadow: 0px 2px 4px 0px #e5e9f2;
  padding: 10px;
  display: none;
  z-index: 10;
}

.SuggestionContainer div {
  min-height: 100%;
  @include width_height(null, 100%);

  h4 {
    text-align: left;
    border-bottom: 1px solid #bfbfbf;
  }

  ul {
    max-height: 28vh;
    overflow-y: scroll;
    padding: 0.2rem;

    li {
      @include font_size_color(0.8rem, 480, null, "Inter");
      padding: 0.2rem 0;
    }

    li:hover {
      background-color: #e3e9f7;
    }
  }
}
