.upload-logs-wrapper-div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
  min-width: 48rem;
  min-height: 16rem;
}

.error {
  font-weight: 600;
  font-size: 1.5rem;
  font-family: "Inter";
}

.error-message-title {
  font-weight: 800;
  font-size: 0.8rem;
  color: #f15700;
}

.error-message-description {
  font-weight: 400;
  font-size: 0.8rem;
  color: #333333b1;
  margin-bottom: 10px;
}

.replace-btn {
  color: #4f9741;
  background: hsla(120, 50%, 76%, 0.2);
}

.discard-btn {
  color: #e55353;
  background: hwb(11 95% 1% / 0.839);
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.cta {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.cta button {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.duplicate-action {
  height: 0.8rem;
  width: 1rem;
}

.upload-log-dialog {
  font-family: Inter;
  font-weight: 400;
  color: #333333;

  min-height: 50vh;
  // width: 50%;

  // transform: translate(-50%, -50%);
  padding: 1.5rem !important;
  background: #fff;
  max-width: 1200px;
  padding-top: 2rem;
  border-radius: 20px;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease both;
  // z-index: ;
}

.upload-log-dialog .x {
  filter: grayscale(1);
  border: none;
  background: none;
  /* position: absolute; */
  top: 15px;
  right: 10px;
  transition: ease filter, transform 0.3s;
  cursor: pointer;
  /* transform-origin: center; */
}

.upload-log-dialog .x:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

.upload-log-div-top {
  display: flex;
  justify-content: space-between;
}

.group-replace {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.error-message {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 14px;
}

.both-files-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
  width: 100%;
}

.records-duplicate {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 12rem;
  overflow-y: auto;
  margin-bottom: 2rem;
  /* justify-content: space-between; */
}
.records-duplicate::-webkit-scrollbar {
  width: 3px;
}
.records-duplicate::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background-color: #0052f1;
}

.duplicate-record {
  display: flex;
  gap: 0.4rem;
  align-items: center;

  /* justify-content: space-between; */
}

.duplicate-record-file-details {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.duplicate-record-file-details-name {
  color: #333333cc;
}
.duplicate-record-file-details-datetime {
  color: #33333399;
  font-size: 12px;
}

.second-duplicate-cta-actions {
  display: flex;
  gap: 0.5rem;
}

.duplicate-record-file-div {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid #ebebeb;
}

/* CSS BELL */

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.box::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 5px;
}

.box::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.box::-webkit-scrollbar-thumb {
  background-color: black;
  border: 2px solid black;
  border-radius: 5px;
}

header {
  -moz-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.1);
  height: 110px;
  vertical-align: middle;
}

h1 {
  float: left;
  padding: 10px 30px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.icons {
  display: inline;
  float: right;
}

.notification {
  padding-top: 10px;
  position: relative;
  display: inline-block;
}

.div-contaning-bell-and-profile {
  display: flex;
  gap: 3rem;
}

.number {
  height: 22px;
  width: 22px;
  background-color: #d63031;
  border-radius: 20px;
  color: white;
  text-align: center;
  position: absolute;
  top: 23px;
  left: 60px;
  padding: 3px;
  border-style: solid;
  border-width: 2px;
}

.number:empty {
  display: none;
}

.notBtn {
  transition: 0.5s;
  cursor: pointer;
}

.fas {
  font-size: 25pt;
  padding-bottom: 10px;
  color: black;
  margin-right: 40px;
  margin-left: 40px;
}

.box {
  width: 400px;
  height: 0px;
  border-radius: 10px;
  transition: 0.5s;
  position: absolute;
  overflow-y: scroll;
  padding: 0px;
  left: -370px;
  margin-top: 5px;
  background-color: #ffffff;
  -webkit-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 10px 10px 23px 0px rgba(0, 0, 0, 0.1);
  cursor: context-menu;
  z-index: 50;
}

.fas:hover {
  color: #d63031;
}

.flex-span {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Adjust as needed */
}

.UploadinProgress {
  color: rgba(255, 166, 23, 0.721);
}

.UploadSuccess {
  color: rgba(56, 236, 56, 0.582);
}

.UploadErrors {
  color: rgba(255, 44, 44, 0.582);
}

/* .notBtn > .box{
    height: 60vh
  } */

.content {
  padding: 20px;
  color: black;
  vertical-align: middle;
  text-align: left;
}

.gry {
  background-color: #f4f4f4;
}

.top {
  color: black;
  padding: 10px;
}

.display {
  position: relative;
}

.cont {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.cont:empty {
  display: none;
}

.stick {
  text-align: center;
  display: block;
  font-size: 50pt;
  padding-top: 70px;
  padding-left: 80px;
}

.stick:hover {
  color: black;
}

.cent {
  text-align: center;
  display: block;
}

.sec {
  padding: 25px 10px;
  background-color: white;
  transition: 0.5s;
}

.profCont {
  padding-left: 15px;
}

.profile {
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  width: 75px;
  float: left;
}

.txt {
  vertical-align: top;
  font-size: 1.25rem;
  padding: 5px 10px;
}

.sub {
  font-size: 1rem;
  color: grey;
}

.new {
  border-style: none none solid none;
  border-color: red;
}

.sec:hover {
  background-color: white;
}

/* CSS BELL END */

.div-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-center-specific {
  margin-top: 11rem;
}


// .loader {
//   width: 15px;
//   aspect-ratio: 1;
//   border-radius: 50%;
//   animation: l5 1s infinite linear alternate;
// }
// @keyframes l5 {
//     0%  {box-shadow: 20px 0 #0052f1, -20px 0 #0002;background: #0052f1 }
//     33% {box-shadow: 20px 0 #0052f1, -20px 0 #0002;background: #0002}
//     66% {box-shadow: 20px 0 #0002,-20px 0 #0052f1; background: #0002}
//     100%{box-shadow: 20px 0 #0002,-20px 0 #0052f1; background: #0052f1 }
// }

/* HTML: <div class="loader"></div> */
.duplicate-loader {
  width: 124px;
  height: 24px;
  -webkit-mask: 
    conic-gradient(from 135deg at top   ,#0000,#000 .5deg 90deg,#0000 90.5deg) 0 0   ,
    conic-gradient(from -45deg at bottom,#0000,#000 .5deg 90deg,#0000 90.5deg) 0 100%;
  -webkit-mask-size:25% 50%;
  -webkit-mask-repeat:repeat-x;
  background: linear-gradient(#25b09b 0 0) left/0% 100% no-repeat #ddd;
  animation: l13 2s infinite linear;
}
@keyframes l13 {
  100% {background-size: 100% 100%}
}

.loader {
  width: 40px;
  height: 40px;
  position: relative;
  --c: no-repeat linear-gradient(#0052f1 0 0);
  background: var(--c) center/100% 10px, var(--c) center/10px 100%;
}
.loader:before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--c) 0 0, var(--c) 100% 0, var(--c) 0 100%, var(--c) 100% 100%;
  background-size: 15.5px 15.5px;
  animation: l16 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}
@keyframes l16 {
  33% {
    inset: -10px;
    transform: rotate(0deg);
  }
  66% {
    inset: -10px;
    transform: rotate(90deg);
  }
  100% {
    inset: 0;
    transform: rotate(90deg);
  }
}

/* Notification */

.viewresumesection {
  position: absolute;
  top: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(51, 51, 51, 0.8078431373);
  -webkit-backdrop-filter: blur(0.6px);
  backdrop-filter: blur(0.6px);
  z-index: 80;
}

.viewresumesection div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.viewresumecloseicon {
  padding: 6px;
  align-self: flex-start;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.viewresumecloseicon svg {
  width: 1rem;
  height: 1rem;
}

.errorSpan {
  cursor: pointer;
  color: rgba(207, 0, 0, 0.74);
}

.errorSpan:hover {
  color: red;
}

.inProgressSpan{
  color: rgba(255, 166, 0, 0.726);
}

.successSpan{
  color:rgba(0, 128, 0, 0.731);
}


.viewdatasection {
  position: absolute;
  top: 0%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(51, 51, 51, 0.8078431373);
  -webkit-backdrop-filter: blur(0.6px);
  backdrop-filter: blur(0.6px);
  z-index: 80;
}

.viewdatasection div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.viewdatacloseicon {
  padding: 6px;
  align-self: flex-start;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.viewdatacloseicon svg {
  width: 1rem;
  height: 1rem;
}

.multiviewdatasection {
  display: flex;
  flex-direction: row;
  gap:1rem;
}

.errordialog {
  background-color: #33333399;
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 58;
}

.pdf{
  height: 40rem;
}

.pdf iframe{
  width: 62.5rem;
}

.pdf-compare iframe{
  width:32rem;
  height: 30rem;
}


@media screen and (min-width: 1400px) {

  .pdf{
    height: 55rem;
  }
  
  .pdf iframe{
    width: 70rem;
  }

  .pdf-compare iframe{
    width:50rem;
    height: 50rem;
  }
  
  
}

.loadMoreNotifications{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 0 1rem 0;
  background-color: white;
}

.loadMoreNotificationsText{
  color: rgba(0, 0, 255, 0.42);
  text-decoration: underline;
  cursor: pointer;
}

/* HTML: <div class="loader-more-spinner"></div> */
.load-more-spinner {
  // display: none;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 
    radial-gradient(farthest-side,#ffa516 94%,#0000) top/8px 8px no-repeat,
    conic-gradient(#0000 30%,#ffa516);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
  animation: l13 1s infinite linear;
}
@keyframes l13{ 
  100%{transform: rotate(1turn)}
}