.main-upload-div{
    font-family: Inter;
    font-weight: 400;
    color: #333333;
}

.upload-files-title{
    font-size:1.6rem;
    font-weight:600;
    font-family: Inter;
    color: #3C4048;
}

.upload-files-title-div{
    padding-top: 0.8rem;
}

.upload-files-button{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.upload-button-real{
    padding:0.8rem 2rem;
    font-weight: 600;
}

.text-color-green{
    color: green;
}

.display-none{
    display: none;
}

.right-side-upload-files-div{
    display: none;
}

.dragging{
    background-color: aqua;
}

.text-right{
    text-align: right;
}

.upload-zone-div{
    margin-top: 1.5rem;
    width: 100%;
    background: rgba(242, 246, 255, 0.529);
    border: 0.04rem dashed #0052F194;
    border-radius: 0.5rem;
    padding: 2rem 0;
    gap:1rem;
}

.upload-files-supported{
    background: #DEE9FF;
    padding: 0.5rem;
    border-radius: 0.3rem;
    color: rgba(51, 51, 51, 0.388);
}

.upload-files-after-click-div{
    display: none;
    /* display:grid; */
    grid-template-columns: 1.5fr 5fr;
    border: 2px solid #EBEBEB;
    padding: 1rem;
    border-radius: 4px;
}

.upload-files-count{
    color:#838383;
}

.upload-table-head{
    padding: 0.75rem 0 0 0;
    border:1px solid #DEE9FF;
    border-radius: 7px;
}

.upload-table-ele{

}

.system-error-table{
    overflow-x: hidden;
}

.text-color-grey{
    color: #333;
}

.font-weight-500{
    font-weight: 500;
}

.font-weight-600{
    font-weight:600;
};

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.grid{
    display: grid;
}

.grid-template-col-5{
    grid-template-columns: repeat(5,1fr);
}

.pt-4{
    padding-top: 2rem;
}

.p-0{
    padding:0;
}

.plr-25{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.ptb-15{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.pb-15{
    padding-bottom: 0.75rem;
}

.div-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.gap-1{
    gap:0.5rem
}

.gap-4{
    gap:2rem;
}

.mb-2{
    margin-bottom: 1rem;
    /* position: absolute; */
}

.border-top{
    border-top:1px solid #DEE9FF;
}

.divider{
    text-align:left;
    width: 1110%;
    /* width: -100px; */
    border: 1px solid black;
    
}

.mlr-3{
    /* margin:0 1.25rem; */
}

.google-drive{
    z-index: 9;
}




div.text-color-grey{
    h4{
        color: #757575;
        padding:0;
    }
}

h4.failure{
   color:red;
}

.upload-table-ele{
    li{
        h4{
            font-weight: 400;
        }
    }
}