$white: #ffffff;
$darkblue: #0052f1;
$backgraoundBlue: #0052f1;
$Textblack: #333333;
$blue-banner-layout: radial-gradient(circle, #62b0ff 100%, #0875e4 0%);
$input-border-gray: rgba(117, 117, 117, 0.51);
$input-placeholder-gray: #A6A6A6;
$shadow-container: 10% 9% 5% 1% 0% #a9bfea;
$mainBackground: #f7faff;

