@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

::-moz-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

h2 {
  font-size: 1.4rem;
  color: #333333;
  font-family: "Inter";
  padding-bottom: 6px;
}

h4 {
  font-size: 0.8rem;
  color: #333333;
  font-family: "Inter";
  padding-bottom: 6px;
}

p {
  color: #333333;
  font-size: 0.8rem;
  font-family: "Inter";
}

label {
  padding-bottom: 0.4rem;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar {
  height: 0;
}

.section-chatbot {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.5450980392);
  -webkit-backdrop-filter: blur(0.6px);
          backdrop-filter: blur(0.6px);
  z-index: 40;
  display: none;
}
.section-contentContainer {
  display: flex;
  flex-direction: column;
  width: 74%;
  border-radius: 16px;
  background-color: #ffffff;
}
.section-actionContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1rem 0 1rem;
}
.section-actionContainer span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(238, 243, 253, 0.3450980392);
  padding: 0.2rem;
  border-radius: 50%;
}
.section-actionContainer span .minimize {
  width: 1.4rem;
  height: 1.4rem;
}
.section-actionContainer span .close {
  width: 1rem;
  height: 1rem;
}
.section-actionContainer .closeSpan {
  padding: 0.4rem;
}
.section-chatcontent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 1rem;
}
.section-chatcontent ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding-top: 0.4rem;
}
.section-chatcontent ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 10px;
  border: 0.02rem solid rgba(113, 105, 255, 0.2156862745);
  min-width: 420px;
  flex-grow: 0;
  flex-shrink: 0;
  cursor: pointer;
}
.section-chatcontent ul li p {
  font-size: 0.68rem;
  font-weight: 600;
  color: #333333;
  font-family: "Inter";
}
.section-chatcontent svg {
  height: 1.2rem;
  width: 1.2rem;
}
.section-questioncontent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 1rem;
}
.section-questioncontent h2 {
  font-size: 1rem;
  font-weight: bold;
  color: #333333;
  font-family: "Inter";
}
.section-questioncontent .input {
  width: 96%;
  border: 1px solid #d3e1fc;
  background-color: rgba(211, 225, 252, 0.3333333333);
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.section-questioncontent .input input {
  width: 100%;
  padding: 1rem;
  border: none;
  outline: none;
  background-color: transparent;
}
.section-questioncontent .input input::-moz-placeholder {
  font-weight: #a6a6a6;
}
.section-questioncontent .input input::placeholder {
  font-weight: #a6a6a6;
}
.section-questioncontent span {
  display: flex;
}
.section-chatspace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 400px;
  overflow-y: auto;
  padding-top: 1rem;
}
.section-chatspace .chatspace {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  max-height: 40vh;
  width: 96%;
  overflow-y: auto;
  padding: 0.4rem;
  background-color: rgba(240, 241, 244, 0.2431372549);
  padding: 1rem;
  border-radius: 10px;
}
.section-chatspace .left {
  align-self: flex-start;
  padding: 10px;
  border: 2px solid rgba(51, 51, 51, 0.1764705882);
  border-radius: 10px;
}
.section-chatspace .right {
  align-self: flex-end;
  padding: 10px;
  border: 2px solid #0052f1;
  border-radius: 10px;
}
.section-input-reset {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4rem;
  background-color: #ffffff;
  width: 100%;
}
.section-input-reset #reset {
  padding: 8px;
  background-color: rgba(211, 225, 252, 0.7764705882);
  border-radius: 50%;
}

.reset {
  height: 1.4rem;
  width: 1.4rem;
  cursor: pointer;
}/*# sourceMappingURL=Chat.css.map */