@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

::-moz-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

h2 {
  font-size: 1.4rem;
  color: #333333;
  font-family: "Inter";
}

h4 {
  font-size: 0.8rem;
  color: #333333;
  font-family: "Inter";
  padding-bottom: 6px;
}

p {
  color: #333333;
  font-size: 0.8rem;
  font-family: "Inter";
}

body {
  overflow-x: hidden;
}

label {
  padding-bottom: 0.4rem;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar {
  height: 0;
}

::-webkit-scrollbar-track {
  visibility: hidden;
}

::-webkit-scrollbar-thumb {
  visibility: hidden;
}

.Dashboard {
  background-color: #ffffff;
}
.Dashboard-container {
  padding: 2rem;
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.Dashboard-welcomeContainer {
  margin-top: 0.6rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}
.Dashboard-welcomeContainer .textContainer {
  padding: 55px 26px;
  background-color: #0052f1;
  border-radius: 1rem;
  width: 100%;
}
.Dashboard-welcomeContainer .textContainer h2 {
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 11px;
}
.Dashboard-welcomeContainer .textContainer p {
  font-size: 18px;
  font-weight: lighter;
  color: #ffffff;
}
.Dashboard-ContentContainer {
  background-color: #f7faff;
  padding: 1.4rem;
  display: flex;
  justify-content: center;
  width: 100%;
}
.Dashboard-SubContentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  border-radius: 1rem;
}
.Dashboard-SubContentContainer .SubContentContainer-Elements {
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Dashboard-SubContentContainer .SubContentContainer-Elements h2 {
  font-size: 24px;
}
.Dashboard-SubContentContainer .SubContentContainer-Elements .ButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.Dashboard-SubContentContainer .SubContentContainer-Elements .ButtonContainer .Add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}
.Dashboard-SubContentContainer .SubContentContainer-Elements .ButtonContainer .upload {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}
.Dashboard-Image {
  position: absolute;
  right: 10px;
  top: 32px;
  height: auto;
  width: 328px;
}

.ContainerList {
  background-color: #f7faff;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(233px, 1fr));
  gap: 20px;
}

.listItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  min-width: 233px;
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  min-height: 142px;
}
.listItem h4 {
  font-size: 14px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.listItem:hover {
  background-color: #0052f1;
}
.listItem:hover h4 {
  color: #ffffff;
  white-space: wrap;
}

.icon-container {
  margin-bottom: 10px;
}
.icon-container .DashboardFolderIcon {
  display: flex;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 0.6rem;
  background-color: #f7faff;
  border-radius: 50%;
}
.icon-container .DashboardFolderIcon svg {
  position: absolute;
  top: 21%;
  left: 11%;
}
.icon-container .DashboardFolderIcon2 {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 24px;
  width: 24px;
  display: flex;
  text-align: center;
  background-color: rgba(255, 235, 230, 0.4705882353);
  border-radius: 50%;
}
.icon-container .DashboardFolderIcon2 svg {
  position: absolute;
  top: 20%;
  left: 20%;
}

.ContainerListactive {
  background-color: #0052f1;
}
.ContainerListactive h4 {
  color: #ffffff;
}
.ContainerListactive .DashboardFolderIcon svg {
  background-color: #ffffff;
}

.section {
  position: absolute;
  top: 0%;
  bottom: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 120%;
  background-color: rgba(255, 255, 255, 0.3254901961);
  -webkit-backdrop-filter: blur(0.6px);
          backdrop-filter: blur(0.6px);
}
.section-SubHeadingContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.section-SubHeadingContainer svg {
  cursor: pointer;
}
.section-CategorySubContainer {
  width: 56%;
  background-color: #ffffff;
  padding: 1.2rem;
  border-radius: 1rem;
  max-height: 40%;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 2px 4px 0px #bfbfbf;
}
.section-CategorySubContainer .SubCategoryHeading {
  font-size: 1.28rem;
  font-weight: 600;
  color: #333333;
  font-family: "Inter";
  margin-bottom: 0.8rem;
}
.section-subCategory {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

#SubContainerList li {
  width: 30%;
}/*# sourceMappingURL=Dashboard.css.map */