@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

::-moz-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

h2 {
  font-size: 1.4rem;
  color: #333333;
  font-family: "Inter";
  padding-bottom: 6px;
}

h4 {
  font-size: 0.8rem;
  color: #333333;
  font-family: "Inter";
  padding-bottom: 6px;
}

p {
  color: #333333;
  font-size: 0.8rem;
  font-family: "Inter";
}

label {
  padding-bottom: 0.4rem;
}

button {
  cursor: pointer;
}

.Header-container {
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 2fr 2fr;
}
.Header-SubContainer {
  position: relative;
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Header-Filters {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(232, 238, 251, 0.44);
  border: 0.8px solid #e1eaff;
  border-radius: 2rem;
  padding: 0.4rem 0.6rem;
}
.Header-logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.48rem;
  font-weight: 600;
  color: #0052f1;
  font-family: "Inter";
}
.Header-logo {
  width: 60%;
}
.Header-dropdownContainer {
  border: 1px solid #e1eaff;
  padding: 0.6rem;
  border-radius: 2rem;
  height: 5vh;
  width: 16.8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Header-dropdownContainer p {
  font-size: 0.88rem;
  font-weight: 400;
  color: #333333;
  font-family: "Inter";
}
.Header-FilterButton {
  padding: 8px;
  border-radius: 50%;
  background-color: #0052f1;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.Header-keywords {
  font-size: 1rem;
  font-family: "Inter";
  height: 5vh;
  width: 88%;
  background-color: transparent;
  padding: 0rem 0.8rem;
  margin-bottom: 2.8px;
  border: none;
  outline: none;
  border-radius: 1.6rem 0 0 1.6rem;
}
.Header-keywords::-moz-placeholder {
  font-size: 0.88rem;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.6);
  font-family: "Inter";
}
.Header-keywords::placeholder {
  font-size: 0.88rem;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.6);
  font-family: "Inter";
}
.Header-Profile {
  width: 40%;
  border-radius: 50%;
}
.Header-SearchFilter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f6f9ff;
  padding: 0.4rem 0.8rem;
}
.Header-SearchFilter input {
  border: none;
  background-color: #f6f9ff;
  outline: none;
  color: #0052f1;
  padding-left: 1.2rem;
}
.Header-SearchFilter input::-moz-placeholder {
  font-size: 0.88rem;
  font-weight: 400;
  color: rgba(0, 82, 241, 0.38);
  font-family: "Inter";
}
.Header-SearchFilter input::placeholder {
  font-size: 0.88rem;
  font-weight: 400;
  color: rgba(0, 82, 241, 0.38);
  font-family: "Inter";
}

.Icon {
  height: 1rem;
  width: 1rem;
  transform: rotate(0turn);
  transition: transform 0.6s ease;
}

.IconStyles {
  transform: rotate(0.5turn);
  transition: transform 0.6s ease;
}

.dropdownVisible {
  width: 16%;
  position: absolute;
  right: 32%;
  top: 90%;
  border-radius: 0.6rem;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  z-index: 10;
}

.dropdown-list li,
.Skillslist li {
  line-height: 2;
  padding: 0.4rem 0 0 1rem;
  font-size: 0.8rem;
  font-family: "Inter";
}

.dropdown-list li:first-child {
  border-radius: 0.6rem 0.6rem 0 0;
}
.dropdown-list li:first-child span {
  font-size: 0.6rem;
  padding-left: 0.2rem;
}

.Skillsdropdown input {
  height: 4vh;
  width: 100%;
}

.dropdown-list li:hover,
.Skillslist li:hover {
  background-color: #f6f9ff;
  color: #0052f1;
}

.Chatbot {
  position: fixed;
  right: 2%;
  top: 90.8%;
  bottom: 2%;
  width: 4%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 1rem;
  background-color: #0052f1;
}

.ProfileContainer {
  position: relative;
}

.ProfileContainer .LogoutBtn {
  position: absolute;
  left: -6%;
  bottom: -80%;
  font-size: 0.8rem;
  font-weight: 480;
  color: #333333;
  font-family: "Inter";
  padding: 0.4rem;
  background-color: #ffffff;
  border-radius: 0.2rem;
  box-shadow: 0 2px 4px 0px #bfbfbf;
  border: none;
  outline: none;
  visibility: hidden;
}

.ProfileContainer:hover .LogoutBtn {
  visibility: visible;
}/*# sourceMappingURL=Header.css.map */