@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

::-moz-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

h2 {
  font-size: 1.4rem;
  color: #333333;
  font-family: "Inter";
}

h4 {
  font-size: 0.8rem;
  color: #333333;
  font-family: "Inter";
  padding-bottom: 6px;
}

p {
  color: #333333;
  font-size: 0.8rem;
  font-family: "Inter";
}

body {
  overflow-x: hidden;
}

label {
  padding-bottom: 0.4rem;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar {
  height: 0;
}

::-webkit-scrollbar-track {
  visibility: hidden;
}

::-webkit-scrollbar-thumb {
  visibility: hidden;
}

.btn {
  width: 100%;
  color: #ffffff;
  padding: 0.6rem;
  background: #0052f1;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffffff;
  color: #0052f1;
  font-weight: 400;
  border: 0.1rem solid #0052f1;
}

.login {
  width: 80%;
  align-self: center;
  justify-self: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: relative;
  padding: 50px 90px 50px 0;
}
.login-titles {
  width: 76%;
  text-align: start;
  color: #333333;
  font-family: "Inter";
  padding-bottom: 1rem;
}
.login-titles p {
  padding-top: 6px;
  font-size: 0.88rem;
  font-family: "Inter";
}
.login-Bgdesign {
  width: 60%;
  position: absolute;
  right: -20%;
  bottom: -50%;
  z-index: -50;
}

.loginForm-Container {
  margin-top: 32px;
  padding: 1.8rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
  border-radius: 6px;
  box-shadow: 0px 1px 2px 0px rgba(169, 191, 234, 0.9215686275);
  background-color: #ffffff;
}
.loginForm-input {
  background: transparent;
  border-radius: 6px;
  border: 0.4px solid rgba(117, 117, 117, 0.51);
  padding: 6px 6px 6px 10px;
  cursor: pointer;
}
.loginForm-input input {
  width: 100%;
  font-size: 1rem;
  color: #333333;
  outline: none;
  border: none;
}
.loginForm-input input::-moz-placeholder {
  font-size: 0.88rem;
  color: #a6a6a6;
}
.loginForm-input input::placeholder {
  font-size: 0.88rem;
  color: #a6a6a6;
}

.PasswordContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.PasswordIcon {
  color: rgb(214, 213, 213);
  height: 1rem;
  width: 1rem;
}

.LabelContainer {
  font-size: 0.88rem;
  font-weight: 400;
  color: #333333;
  font-family: "Inter";
  display: flex;
  flex-direction: column;
}

.CheckboxContainer {
  display: inline-flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.4rem;
}

.responsePara {
  font-size: 0.8rem;
  font-weight: 400;
  color: red;
  font-family: "Inter";
  padding-left: 0.2rem;
}

.LoginPage-Container {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  gap: 86px;
}
.LoginPage-LogoContainer {
  padding: 20px;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  font-family: "Inter";
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.LoginPage-logo {
  height: 52px;
  width: 52px;
}
.LoginPage-border {
  height: 52px;
  width: 1px;
  border: 1px solid #fff;
  margin-right: 10px;
  margin-left: 10px;
}
.LoginPage-CarouselContainer {
  background-image: radial-gradient(circle, rgb(202, 216, 244), rgba(6, 86, 207, 0.8), rgba(6, 86, 207, 0.9), rgb(6, 86, 207), rgb(6, 86, 207));
  margin-left: 90px;
}
.LoginPage-Carousel {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.LoginPage-CarouselImages {
  min-width: 40px;
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.LoginPage-CarouselImages h4 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  font-family: "Inter";
  text-align: center;
}
.LoginPage-CarouselImages p {
  width: 100%;
  padding: 10px 30px;
  line-height: 1rem;
  text-align: center;
  font-size: 0.6rem;
  color: #fff;
  font-family: "Inter";
}

.title {
  color: #ffffff;
  font-size: 1.4rem;
  padding: 0px;
}

.CarouselImg {
  width: 100%;
  text-align: center;
}

.dots {
  position: absolute;
  bottom: 0px;
  left: 44%;
  display: flex;
  align-items: center;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 4px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.dot.active {
  background-color: #fff;
  transform: scale(1.6, 0.8);
  border-radius: 36%;
}

#CarouselContainer {
  display: flex;
  width: 68%;
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */